* {
    Margin: 0px;
    padding: 0px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 16px;
}

body{
    background-color: #091353;
}

ul li{
    list-style-type: none;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
  
p{
    color:white;
}

h1{
    color:white;
}

h3{
    color:white;
}

footer{
    color:white;
    bottom:0;
}

/*ID´s*/

.grad {
    background-image: linear-gradient(to bottom, #007bff , #091353);
}   

#central{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2cm;
}

#perfil { /*Borde de la imagen*/
    border-radius: 50%;
    /*grid-area: imagen;*/
}