* {
    Margin: 0px;
    padding: 0px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 16px;
}

ul li{
    list-style-type: none;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

a:hover {
    color: darkblue;
}
  
p{
    color:black;
}

h1{
    color:black;
}

h3{
    color:black;
}

/*ID´s*/

#perfil { /*Borde de la imagen*/
    border-radius: 50%;
    /*grid-area: imagen;*/
}

#header{ /*Flex*/
    background-color:#88E0EF;
    display: flex;
    align-items: center;
    margin: 20px;
}

/*
#text{
    grid-area: texto;
}

Grid
#divRoot{
    display: grid;
    grid-template-areas:
        ". . ."
        "imagen . texto"
        ". . .";
    justify-items: center;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
} 

Flex
#divRoot{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
*/